//VARIABLE
$primary: #51459E;
$secondary: #25396F;
//$dark: gray;
$white: #FFFFFF;
$font-sans: 'DM Sans', sans-serif;
$font-sans: 'sofiaproFont', sans-serif;


$text-dark: #505887;
$text-light: #718EBF;
$text: #7C8DB5;
$text-01: #7987A5;


$border: #F6F6F6;
$input-border: #F0F0F0;

$sidebar-width: 250px;
$right-section-width: 396px;

$top-bar-height: 110px;

$transition: all .4s;