//VARIABLE
$primary: #51459E;
$secondary: #25396F;
$white: #FFFFFF;
$black: #000000;
$font-sans: 'DM Sans', sans-serif;
$font-sofia-pro: 'sofiaproFont', sans-serif;


$text-dark: #505887;
$text-light: #718EBF;
$text-gray: #7C8DB5;
$text-01-gray: #7987A5;


$border: #F6F6F6;
$input-border: #F0F0F0;

$sidebar-width: 250px;
$right-section-width: 396px;

$top-bar-height: 110px;
$top-bar-height-sm: 80px;

$transition: all .4s;
$shadow: 0 5px 20px 0 #585CE540;