#page-top-bar {
  position        : fixed;
  left            : $sidebar-width;
  top             : 0;
  height          : $top-bar-height;
  width           : calc(100% - $sidebar-width);
  z-index         : 1002;
  border-bottom   : 1px solid $border;
  align-items     : center;
  justify-content : space-between;
  gap             : 24px;
  font-family     : $font-sans;
  background      : #fff;
  transition      : $transition;
  @include desktop {
    left   : 0;
    width  : 100%;
    height : $top-bar-height-sm;
  }

  .side-bar-toggle {
    display : none;
    @include desktop {
      display : block;
    }
  }
  .side-bar-toggle-remove{
    display : none;
    margin-left : 12px;
    @include desktop {
      display : block;
    }
  }

  .navbar-brand-logo {
    display : none;
    @include desktop {
      display       : block;
      flex-shrink   : 0;
      height        : auto;
      border-bottom : 0;
    }
  }

  .input-group {
    border        : 1px solid $input-border;
    border-radius : 10px;
    padding       : 20px 24px;
    align-items   : center;
    margin-right  : 16px;

    &.search {
      width : 50%;
    }

    &.filter {
      width : 30%;
      @include desktop-lg {
        width : 50%;
      }
    }
    @include desktop{
      padding : 12px;
    }

    input, select {
      border      : none;
      font-family : inherit;
      width       : 100%;
      font-size   : 15px;
    }

    input {
      margin-left : 18px;
    }

  }

  .notification {
    margin-right : 40px;
    position     : relative;
    cursor       : pointer;
    flex-shrink  : 0;

    &:after {
      position      : absolute;
      content       : "";
      top           : -1px;
      right         : 0;
      width         : 5px;
      height        : 5px;
      border        : 2px solid $white;
      background    : #FF6E91;
      border-radius : 50%;
    }
  }

  .user-dropdown {
    cursor      : pointer;
    align-items : center;
    gap         : 10px;

    img {
      width         : 46px;
      height        : 46px;
      border-radius : 50%;
    }

    @include desktop {
      div {
        display : none;
      }
    }

  }

}
