main {
  margin-left : $sidebar-width;
  padding-top : $top-bar-height;
  display     : flex;

  .main-content {
    width : 100%;
    overflow : hidden;

    .title {
      font-size     : 18px;
      line-height   : 27px;
      font-weight   : 700;
      margin-bottom : 20px;
    }
  }

  /*FILE-SECTION*/
  .file-section {
    gap : 25px;

    .item {
      padding       : 20px;
      width         : 190px;
      border-radius : 10px;
      margin-bottom : 60px;
      flex-shrink   : 0;

      .title {
        margin-top    : 20px;
        margin-bottom : 12px;
      }

      .text-light {
        font-size : 12px;
      }
    }

    .design {
      background : #F6F5FF;
      box-shadow : 0 1px 3px 0 #9EA0F904,
      0 8px 6px 0 #9EA0F907,
      0 20px 13px 0 #9EA0F909,
      0 38px 25px 0 #9EA0F90B,
      0 64px 46px 0 #9EA0F90E,
      0 0 80px 0 #9EA0F912;
    }

    .documents {
      background : #F5FFFC;
      box-shadow : 0 1px 3px 0 rgba(103, 207, 236, 0.0169),
      0 8px 6px 0 rgba(103, 207, 236, 0.0275),
      0 20px 13px 0 rgba(103, 207, 236, 0.035),
      0 38px 25px 0 rgba(103, 207, 236, 0.0425),
      0 64px 46px 0 rgba(103, 207, 236, 0.0531),
      0 0 80px 0 rgba(103, 207, 236, 0.07);

      path {
        fill : #2FE6C8;
      }
    }

    .music {
      background : #FFF9F0;
      box-shadow : 0 1px 3px 0 #FD834202,
      0 8px 6px 0 #FD834204,
      0 20px 13px 0 #FD834205, 0 38px 25px 0 #FD834206,
      0 0 46px 0 #FD834208, 0 100px 80px 0 #FD83420A;

      path {
        fill : #FDBC64;
      }
    }

    .images {
      background : #FFF5F5;
      box-shadow : 0 1px 3px 0 #FF7D7D04,
      0 8px 6px 0 #FF7D7D07,
      0 20px 13px 0 #FF7D7D09, 0 38px 25px 0 #FF7D7D0B,
      0 0 46px 0 #FF7D7D0E, 0 100px 80px 0 #FF7D7D12;

      path {
        fill : #FF7F5C;
      }
    }

  }

  /*QUICK-ACCESS-SECTION*/
  .quick-access-section {
    margin-bottom : 60px;
    font-family   : $font-sans;

    .flex {
      gap : 18px;
    }

    .item {
      width         : calc(100% / 3);
      border-radius : 15px;
      position      : relative;
      overflow      : hidden;


      .img {
        img {
          transition : $transition;
          width      : 100%;
        }
      }

      .item-center {
        position   : absolute;
        bottom     : 0;
        left       : 0;
        width      : 100%;
        background : #F5F5F5;
        padding    : 20px 0;

        img {
          margin-right : 10px;
        }
      }

      &:hover {
        .img {
          img {
            transform : scale(1.1);
          }
        }
      }
    }
  }

  /*RECENTLY-UPLOADED-SECTION*/
  .recently-upload-section {
    gap : 18px;

    > div {
      width : 45%;
    }

    .file-manager {
      .flex-wrap {
        gap : 26px;
      }

      .item {
        background    : #EBEDFB;
        border-radius : 10px;
        padding       : 14px;
        width         : 130px;
        transition    : $transition;

        &:hover {
          box-shadow : $shadow;
          transform  : translate3d(-4px, -4px, -4px);
        }

        .text-secondary {
          font-size  : 8px;
          margin-top : 4px;
        }

        img {
          width         : 18px;
          height        : 18px;
          margin-bottom : 4px;
        }

      }

      .btn-file-manager {
        display       : block;
        text-align    : center;
        margin-top    : 24px;
        font-size     : 14px;
        line-height   : 21px;
        background    : #DEE1E6;
        border-radius : 5px;
        padding       : 10px;
        transition    : $transition;

        &:hover {
          box-shadow : $shadow;
        }
      }
    }
  }

}

.recently-upload {
  .group-item {
    img {
      width         : 44px;
      height        : 44px;
      border-radius : 10px;
      margin-right  : 16px;
      object-fit    : cover;
      transition    : $transition;
    }

    > .justify-between {
      height        : 60px;
      border-radius : 10px;
      overflow      : hidden;
      transition    : $transition;

      .fs-10 {
        margin-top : 4px;
      }

      &:hover {
        box-shadow    : $shadow;
        padding-right : 8px;

        img {
          margin-left : 8px;
        }
      }
    }
  }
}

.title {
  font-size     : 18px;
  line-height   : 27px;
  font-weight   : 700;
  margin-bottom : 20px;
}

#scroll-container {
  overflow-x         : scroll;
  cursor             : grab;
  scrollbar-width    : none; /* Hide scrollbars for a cleaner look */
  -ms-overflow-style : none;
}

#scroll-container::-webkit-scrollbar {
  display : none;
}