.layout-right-side {
  width       : $right-section-width;
  flex-shrink : 0;
  @include desktop-lg {
    width     : 100%;
    display   : flex;
    flex-wrap : wrap;
    gap       : 40px;
    > div {
      width         : calc(50% - 20px);
      margin-bottom : 0 !important;
    }
    .invite-friend-section {
      width       : 100%;
      margin-left : 32px;
    }
  }

  @include mobile {
    gap : 0px;
    > div {
      width : 100%;
    }
  }

  .shared-folders {
    img {
      background : #DEE1E6;
      padding    : 10px;
    }
  }

  .invite-friend-section {
    border        : 1px dashed #D0C9FF;
    border-radius : 10px;
    background    : #F6F4FF;
    min-height    : 126px;
    margin-top    : 48px;
    max-width     : 450px;
    position      : relative;

    &:hover {
      .inner-content {
        top  : 0;
        left : 0;
      }
    }

    .inner-content {
      background-image    : url(/images/invite-bg.png);
      background-color    : #51459E;
      background-repeat   : no-repeat;
      background-position : right;
      padding             : 20px;
      border-radius       : 10px;
      position            : absolute;
      width               : 100%;
      height              : 100%;
      top                 : -33px;
      left                : -33px;
      transition          : $transition;


      h4 {
        font-size     : 16px;
        line-height   : 21px;
        margin-bottom : 10px;
        color         : $white;
        font-weight   : 400;
      }

      a {
        display       : inline-block;
        font-size     : 14px;
        line-height   : 21px;
        background    : #84E8F4;
        padding       : 8px 20px;
        border-radius : 5px;
      }
    }
  }

  //USAGE STATS
  .usage-stats-section {
    margin-bottom : 42px;

    tr {
      height : 40px;
    }

    td {
      vertical-align : bottom;
      text-align     : center;
      font-size      : 10px;
      color          : #00000080;
      border         : 6px solid transparent;
      width          : 46px;

      img {
        width  : 100%;
        height : 100%;
      }

      div {
        background-color    : #84E8F4;
        height              : 150px;
        border-radius       : 8px;
        background-image    : url(../images/chart-shap.svg);
        background-repeat   : no-repeat;
        width               : 100%;
        background-position : center;
        position            : relative;

        &:after {
          position      : absolute;
          content       : "";
          top           : -6px;
          left          : calc(50% - 8px);
          width         : 16px;
          height        : 14px;
          background    : #fff;
          border-radius : 0 0 10px 10px;
        }
      }

      &:nth-child(odd) div {
        background-color      : #51459E;
        background-blend-mode : difference;
      }
    }

    .jan {
      height : 50px;
    }

    .feb {
      height : 100px;
    }

    .mar {
      height : 130px;
    }

    .apr {
      height : 190px;
    }

    .may {
      height : 140px;
    }

    .jun {
      height : 80px;
    }

    .month {
      td {
        vertical-align : top;
      }
    }
  }


}