aside {
  width      : $sidebar-width;
  height     : 100vh;
  z-index    : 1002;
  position   : fixed;
  left       : 0;
  top        : 0;
  transition : $transition;
  @include desktop{
    left : - $sidebar-width;
  }

  .navbar-brand-logo {
    height        : $top-bar-height;
    border-bottom : 1px solid $border;
    @include desktop{
      height        : $top-bar-height-sm;
    }

    a {
      color          : $primary;
      font-size      : 19px;
      font-weight    : 700;
      line-height    : 25px;
      font-family    : $font-sans;
      text-transform : uppercase;

      span {
        background      : $primary;
        color           : $white;
        font-size       : 16px;
        display         : inline-flex;
        align-items     : center;
        justify-content : center;
        width           : 30px;
        height          : 30px;
        border-radius   : 50%;
      }
    }
  }

  .app-menu {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    height          : calc(100vh - $top-bar-height);
    overflow-y      : auto;
    border-right    : 1px solid $border;
    @include desktop{
      height          : calc(100vh - $top-bar-height-sm);
    }

    &::-webkit-scrollbar {
      width  : 6px;
      height : 6px;
    }

    &::-webkit-scrollbar-thumb {
      background    : transparent;
      border-radius : 5px;
    }

    &::-webkit-scrollbar-track {
      background : transparent;
    }

    &::-webkit-scrollbar-corner {
      background : transparent;
    }

    &::-webkit-scrollbar-button {
      display : none;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background : #51459e80;
      }

      &::-webkit-scrollbar-track {
        background : #f1f1f1;
      }

      &::-webkit-scrollbar-corner {
        background : #f1f1f1;
      }
    }


  }

  .navbar-menu {
    .nav-link {
      .img {
        width         : 50px;
        height        : 50px;
        border-radius : 12px;
        background    : #ECEFF7;
        margin-bottom : 16px;
        text-align    : center;
        position      : relative;
        overflow      : hidden;
        transition    : $transition;

        &:after {
          position   : absolute;
          content    : url("../images/sidebar/intersect.png");
          top        : -15px;
          right      : -15px;
          transition : all .5s;
        }
      }

      text-align     : center;
      text-transform : capitalize;
      font-size      : 12px;
      margin-bottom  : 16px;
      font-weight    : 400;
      transition     : $transition;

      img {
        z-index : 9;

        &:last-child {
          display : none;
        }
      }

      &.active, &:hover {
        .img {
          background : $primary;
          box-shadow : 0 10px 20px 0 #585CE540;

          &:after {
            top   : 0;
            right : 0;
          }
        }

        .text-01-gray {
          color : $secondary;
        }

        img {
          display : none;

          &:last-child {
            display : flex;
          }
        }
      }

    }

    .divider {
      margin-bottom : 60px;
    }
  }

  .sidebar-bottom {
    margin-top : 24px;

    div {
      margin-bottom : 4px;
    }

    p {
      margin-bottom : 12px;
    }

    .progress {
      height        : 8px;
      background    : #F6F9FF;
      border-radius : 6px;

      span {
        background    : #FF6E91;
        width         : 80%;
        height        : 100%;
        display       : block;
        border-radius : 6px;
      }
    }

    .add-space-btn {
      background    : $primary;
      color         : $white;
      padding       : 14px 0;
      text-align    : center;
      display       : block;
      margin-top    : 60px;
      border-radius : 12px;
      font-weight   : 400;
      font-size     : 12px;
      line-height   : 16px;
      position      : relative;

      &:after {
        position      : absolute;
        content       : '';
        width         : calc(100% - 24px);
        height        : 100%;
        left          : 12px;
        top           : 6px;
        background    : #CFC8FF;
        border-radius : 12px;
        z-index       : -1;
        opacity       : 50%;
        transition    : $transition;
      }

      &:hover {
        &:after {
          opacity : 1;
        }
      }
    }
  }

}

.navbar-brand-logo {
  height        : $top-bar-height;
  border-bottom : 1px solid $border;
  @include desktop{
    height        : $top-bar-height-sm;
  }

  a {
    color          : $primary;
    font-size      : 19px;
    font-weight    : 700;
    line-height    : 25px;
    font-family    : $font-sans;
    text-transform : uppercase;

    span {
      background      : $primary;
      color           : $white;
      font-size       : 16px;
      display         : inline-flex;
      align-items     : center;
      justify-content : center;
      width           : 30px;
      height          : 30px;
      border-radius   : 50%;
    }
  }
}

.backdrop{
  position : fixed;
  width : 100vw;
  height : 100vh;
  left : $sidebar-width;
  top: 0;
  background: #00000050;
  visibility: hidden;
  opacity : 0;
  transition: $transition;
  z-index : 1004;
}

.show {
  #page-top-bar{
    left : $sidebar-width;
    .navbar-brand-logo{
      display : none;
    }
  }
  aside{
    left : 0;
  }
  main{
    margin-left: $sidebar-width;
  }
  .backdrop{
    visibility: visible;
    opacity : 1;
  }
}